.purplee {
  filter: blur(6px);
  opacity: 0.6;
}

.dot {
  transform: rotate(90deg);
  position: absolute;
  top: -500px;
  right: -20px;
  z-index: -1;
}

@media (max-width: 600px) {
  .screen {
    max-width: 290px;
  }
}

@media (min-width:600px ) and (max-width: 900px) {
  .screen {
    max-width: 385px;
  }
}
